<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>stylesheet.css">
    <link rel="stylesheet" type="text/css" href="js/3d_effect.css">
    <title>AgriTheory</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but agritheory.com doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- <div
      id="gl"
      data-imageOriginal="img/skyscrapers.png"
      data-imageDepth="img/skyscrapers-map.png"
      data-horizontalThreshold="35"
      data-verticalThreshold="15">
    </div> -->
    <script>
      document.addEventListener("load", () =>{
        document.getElementById("gl").children[0].style.opacity = "1";
      })
      var back_images = ['ewe', 'skyscrapers', 'pipes'];
      var appendStyle = document.createElement("style");
      if(window.innerWidth > 900){
        appendStyle.innerHTML = "body{background-image:url('img/" + back_images[Math.floor(Math.random()*back_images.length)] + ".png');}";
        document.head.append(appendStyle);
        // var back = document.getElementById("gl");
        // back.setAttribute('data-imageOriginal', 'img/'+back_images[img_index]+'.png');
        // back.setAttribute('data-imageDepth', 'img/'+back_images[img_index]+'-map.png');
      } else {
        appendStyle.innerHTML = "body{background-image:url('img/skyscrapers-tall.png');}";
        document.head.append(appendStyle);
      }
      // import('./js/app.js').then(function() {})
    </script>
    <div id="app"></div>
  </body>
</html>
