body {
  font-family: 'Muli', sans-serif;
  font-size: 120%;
  color: #2c2923;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;

}

@media screen and (orientation: landscape) {
  body {
    overflow-y:scroll;
  }
  .logo-float {
    position: fixed;
    bottom: -15px;
    left: 15px;
    max-width: 50%;
    opacity: 0.8;
    z-index: 0;
  }
}

@media screen and (orientation: portrait){
  body {
    overflow-y:scroll;
  }
  .logo-float {
    position: relative;
    top: -50px;
    left: 33vw;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 0;
  }
  .logo-float img {
    transform: scale(.6);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
}


h1, h2, h3, h4, h5, h6 {
  color: #843C03;
  text-transform: capitalize;
}

a {
  color: #843C03;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: #843C03;
  text-decoration: underline;
}

/* Blurry background */
body:before {
  content: "";
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* Fade in 3d-effect */
#gl > canvas {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#app {
  /* top: 15px; */
  flex: 1 0 auto;
}

.modal-container {
  padding: 26px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 8vw;
  margin-top: 5vh;
  height: 90vh;
  max-height: 100%;
  overflow-y: scroll;
  width: 84vw;
  background-color: #fff;
  transition: all .3s ease;
  z-index: 4;
  animation: createModal .3s;
}

.modal-container::-webkit-scrollbar {
  width: 10px;
}

.modal-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #843C03;
  opacity:0.8;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #843C03;
  opacity: 0.8;
}

.top-right-modal-close {
  top: 26px;
  right: 26px;
  position: absolute;
  float: top;
}

.hex-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.modal-container-transition-enter-active, .modal-container-transition-leave-active {
  transition: scale(1) .3s;
}
.modal-container-transition-enter, .modal-container-transition-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0)
}
