<template>
  <div class="modal-container">
    <h2>Contact AgriTheory</h2>
    <form @submit.prevent="submitForm">
      <textarea name="message" rows="10" required v-model="messageInput"
      placeholder="Say what you need to say. We're listening.">
      </textarea>
      <br>
      <div class="form-input">
        <input
        name="emailInput"
        autocomplete="emailInput"
        type="text"
        required
        spellcheck="false"
        v-model="emailInput" @blur="validateEmail"/>
        <label for="emailInput">Your Email</label>
        <pre class="validationMessage"> {{emailValidation}}</pre>
      </div>
      <div class="form-input">
        <input
          name='phoneInput'
          type="text"
          autocomplete="phoneInput"
          required
          v-model="phoneInput"
        />
        <label for="phoneInput">Your Telephone Number</label>
        <pre class="validationMessage"> </pre>
      </div>
      <button id="sendEmail" type="submit" :disabled='disableSend'>Send</button>
      <pre class="validationMessage"> {{thankYouMessage}}</pre>
    </form>
    <div style="text-align: right; width: 100%">
      <p><br>
        558 Beech Hill Road<br>
        Hopkinton, NH 03229-2668<br>
        (603) 568-5591</p>
    </div>
    <div class="top-right-modal-close"><a @click="$emit('close')">Close</a></div>
  </div>
</template>
<script>
export default {
  name: 'Contact',
  data () {
    return {
      formattedPhone: '',
      unformattedPhone: '',
      messageInput: '',
      emailInput: '',
      emailValidation: '',
      thankYouMessage: '',
    }
  },
  props: {
    showContact: () => { return false }
  },
  methods: {
    restrictInput(e){
      const allowedKeys = ['Delete','Backspace','ArrowLeft','ArrowRight','Tab', 'Home', 'End', 'Shift'];
      let key = e.key;
      if(allowedKeys.some(function(pressedkey){return key === pressedkey}))
        return;
      if(!/^[+\d\s]+/g.test(key)) // reject characters except +, numbers and whitespace
        event.preventDefault();
    },
    validateEmail(){
      if(!this.emailInput){
        this.emailValidation = ''
      }
      else if (!(/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.emailInput))){
        this.emailValidation = "There is an issue with the email that you entered"
      } else {
        this.emailValidation = ''
      }
    },
    thankYou(){
      this.thankYouMessage = "Your message has been sent. Thank you for getting in touch."
    },
    submitForm(){
      let formData = {sender: this.emailInput,
        message: this.messageInput + "\n\n" + this.formattedPhone + "\n\n" + this.emailInput
      }
      sendFormData(formData)
      this.thankYou()
    }
  },
  computed: {
    phoneInput: {
      get: function () { return this.formattedPhone },
      set: function(newVal){
        let rawPhone = unformatPhone(newVal)
        this.formattedPhone = formatPhone(rawPhone)
      }
    },
    disableSend: {
      get: function () {
        return (this.thankYouMessage.length > 3) ? true : false
      }
    }
  }
}

function unformatPhone(newVal){
  if(newVal.substring(0,1) === '+') {
    return '+' + newVal.replace(/[\D\S]/g, '') // not digits and not whitespace
  } else {
    return newVal.replace(/\D+/g, '') // not digits
  }
}

function formatPhone(val){
  if(val.substring(0,1) === '+'){
    return val
  } else {
    if(val.length < 4)
      return val
    else if(4 < val.length && val.length < 7)
          return '(' + val.slice(0,3) + ') ' + val.slice(3, 10)
    else
      return '(' + val.slice(0,3) + ') ' + val.slice(3,6) + '-' + val.slice(6, 10)
  }
}

function sendFormData(formData){
  let baseURL = 'https://erp.agritheory.com/api/method/frappe.www.contact.send_message?';
  let fetch_url = baseURL + queryParams(formData);
  fetch(fetch_url, {
    method: 'POST',
    mode: 'no-cors',
    credentials: 'same-origin',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
    },
  }).then((response) => {
    // eslint-disable-next-line
    // console.log(response)
    return response;
  }).catch((error) => { // eslint-disable-next-line
    console.log(error);
  });
}

function queryParams(params) {
  return Object.keys(params)
    .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
    .join('&');
}

</script>
<style>
textarea {
  outline: none;
  width: calc(100% - 21px);
  border: 1px solid #eee;
  border-bottom: 2px solid #843C03;
  resize: none;
  margin: 15px;
  padding: 6px;
}
textarea:focus {
  outline: none;
  width: calc(100% - 21px);
  border: 1px solid #843C03;
  border-bottom: 2px solid #843C03;
  resize: none;
  margin: 15px;
  padding: 6px;
}

.form-input {
  display: inline-block;
  position: relative;
  height: 70px;
  width: calc(50% - 18px);
  margin-top: 15px;
  margin-left: 15px;
}

.form-input input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #843C03;
}

.form-input label {
  pointer-events: none;
  position: absolute;
  color: #843C03;
  left: 0;
  margin-top: 40px;
  transition: 0.2s;
}

.form-input input:focus + label {
  position: absolute;
  margin-top: 0px;
}

.form-input input:valid + label {
  position: absolute;
  margin-top: 0px;
}

.validationMessage {
  min-height: 40px;
  font-family: "Muli";
  font-size: 16px;
  font-weight: bold;
  color: #843C03;
  border: 0px solid transparent;
  text-align: left;
  padding-right: 16px;
}
.validationMessage {
  content: " ";
}

button {
  margin: 15px;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #843C03;
  background-color: #843C03;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 2px;
}
</style>
