<template>
  <div class="modal-container">
    <h2>Customers</h2>
    <div class="top-right-modal-close"><a @click="$emit('close')">Close</a></div>
    <div class="customer">
      <img src="https://cdn.shopify.com/s/files/1/2233/4257/t/1/assets/evaqua_farms_logo.svg?0"
      style="background-color: rgb(20, 20, 20); padding: 15px; border-radius: 10px; float: left; margin-right: 15px;"/>
      <p>
        <em>When we needed to build software to run our aquaculture business, AgriTheory was the only choice. While we knew what we wanted, Tyler had the first hand experience with the accounting and manufacturing challenges of the industry. That allowed us to work together to develop the best ideas and best practices into a forward-thinking solution.</em>
        <br><br>
        - Joshua Reeder, Director of Technology
      </p>
    </div>
    <hr>
    <div class="customer">
      <img src="https://parsimony.com/files/logo_b.png"
      style="max-height: 105px; float: right; margin-left: 15px; margin-top: 15px;"/>
      <p>
        <em>“Agritheory is unique in their ability to see the system’s code AND the real needs and practices of the business. This means that the systems they worked on for us were able to fit into our business instead of the other way around.  Plus, they are a joy to work with.”</em>
        <br><br>
        - Michael Pinkowski, President
      </p>
    </div>
    <hr>
    <!-- <div class="customer">
      <img src="/img/seafire.jpg"
      style="max-height: 105px; float: left; margin-right: 15px; margin-top: 15px;"/>
      <p>
        <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa massa, dapibus eu pulvinar quis, egestas et dolor. Nam euismod commodo ligula.</em>
        <br><br>
        - Stephen Ellis, President
      </p>
    </div> -->
  </div>
</template>
<script>
  export default {
    name: 'Contact',
    props: {
      showContact: () => { return false }
    }
  }
</script>
<style>
.customer {
  padding: 15px;
  display: inline;
}
</style>
